.sidenav {
    background: #87C34B;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding-top: 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ae-logo {
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    margin: 24px 0px;
    line-height: 0em;
}

.ae-subtitle {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 24px;
}

.circle {
    fill: #999;
}

nav {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    font-weight: 300;
    text-decoration: none;
    font-size: 0.5em;
}

nav div {
    margin: 4px 0px;
    text-align: center;
}

.user-info p {
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.logout-button {
    background-color: #2c6232;
    border-radius: 5px;
    padding: 8px 16px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

button:hover {
    background-color: #333;
}

.navlink a:active {
    color: #ebd4d4;
}

.navlink a:hover {
    color: #ffffff;
}

.navlink a {
    color: #ffffff;
    font-size: 16px;
}
